# VoxelFly local data
account.json
config.json
*.token
*.session

# Minecraft files
.minecraft/
versions/
libraries/
assets/
runtime/
logs/
crash-reports/
screenshots/
saves/
mods/
shaderpacks/
resourcepacks/
AppData\Roaming\VolxerFly 2.0